<!DOCTYPE html>
<html>

<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='registration.css')}}">
</head>

<body>
    <center>
        <div class="container">
            <h2>Registration</h2>
            <form method="POST">
                <label for="">username</label>
                <input type="text" placeholder="Enter your name" id="name" name="name" required><br>

                <label for="username">Name</label>
                <input type="text" placeholder="Enter your Username" id="username" name="username" required><br>

                <label for="email">Email</label>
                <input type="email" placeholder="Enter your mail-id" id="email" name="email" required><br>

                <label for="password">Password</label>
                <input type="password" placeholder="Enter your Password" id="password" name="password" required><br>




                <button type="submit">Register</button>
            </form>

            <div class="links">
                <p><a href="{{url_for('login')}}">Already have an account?</a></p>
            </div>
            <p><a href="{{url_for('title')}}">Back</a></p>
        </div>
    </center>
</body>

</html>